.container { 
    width: 100%;
    height: 100%;
}
.scrollable {
    overflow: scroll;
    height: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  .eventlist {
      position: fixed;
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 10rem;
  }
.col-centered {
    float: none;
    margin: 0 auto;
}
